{% extends "base.html" %}
{% load static %}

{% block scriptsCss %}
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <!-- <script src="https://code.highcharts.com/mapdata/custom/world.js"></script> -->
    <script src="{% static "js/world.js" %}"></script>
{% endblock scriptsCss %}

{% block cardsBlock %}
<div class="col mr-2">
    <div class="card" style="background-color: #F9E79F;">
        <div class="card-body" style="color: #9A7D0A;">
            <h5 class="card-title">Country with most Cases</h5>
            <span class="countryName">{{countryWithMostCases}}</span>
        </div>
    </div>
</div>

<div class="col mr-2">
    <div class="card" style="background-color:#F6DDCC ;">
        <div class="card-body" style="color:#873600;">
            <h5 class="card-title">Country with most Cases to Population</h5>
            <span class="countryName">{{countryWithMostCasesDensity}}</span>                           
        </div>
    </div>
</div>
{% endblock cardsBlock %}

{% block mainBody %}
<div class="col-9" style="height: 100%;">
    <div class="row mb-2">
        <div id="worldmap"></div>
    </div>
</div>
{% endblock mainBody %}
   
{% block scripts %}
    <script>
        var data2 = {{mapData|safe}};
        var minCases = {{minCases|safe}};
        var maxCases = {{maxCases|safe}}
    </script>
    <script src="{% static "js/worldmap.js" %}"></script>
{% endblock scripts %}