{% extends "base.html" %}
{% load static %}

{% block scriptsCss %}
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <!-- <script src="https://code.highcharts.com/mapdata/custom/world.js"></script> -->
    <script src="{% static "js/world.js" %}"></script>
{% endblock scriptsCss %}

{% block mainBody %}
    <div class="row mb-2">
        <div class="col mr-2 ml-2">
            <div class="card" style="height: 8em;">
                <div class="card-body">
                    <h5 class="card-title">Total Cases</h5>
                    <span class="number">{{totalCases}}</span>
                </div>
            </div>
        </div>

        <div class="col mr-2">
            <div class="card" style="height: 8em;">
                <div class="card-body">
                    <h5 class="card-title">Total New Cases</h5>
                    <span class="number">{{newCases}}</span>
                </div>
            </div>
        </div>

        <div class="col mr-2">
            <div class="card" style="height: 8em;">
                <div class="card-body">
                    <h5 class="card-title">Country with most Cases</h5>
                    <span>{{countryWithMostCases}}</span>
                </div>
            </div>
        </div>

        <div class="col mr-2">
            <div class="card" style="height: 8em;">
                <div class="card-body">
                    <h5 class="card-title">Country with most Cases to Population</h5>
                    <span>{{countryWithMostCasesDensity}}</span>                           
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row mb-4">
        <div class="col-3 mr-2 overflow-scroll" style="height: 500px;">
            <h5>List of Countries</h5>
            <form method="post" enctype="multipart/form-data" action="selectCountry">
                {% csrf_token %}
                {% for item in countriesList %}
                    <div class="row mb-1" style="width: 60%; margin-left: 20%; margin-right: 20%;">
                        <input type="submit" value={{item}} name="countryName" class="btn btn-outline-secondary btn-wrap-text">
                    </div>
                {% endfor %}
            </form>
        </div>
        <div class="col-9" style="height: 500px;">
            <div class="row mb-4 mt-2 align-items-center">
                <div class="col-3">
                    <label for="startDate">Start Date</label>
                    <input id="startDate" class="form-control" type="date" />
                </div>
                
                <div class="col-3">
                    <label for="endDate">End Date</label>
                    <input id="endDate" class="form-control" type="date" />
                </div>

                <div class="col-6">
                    <button class="btn btn-outline-secondary" type="button" id="compare-btn" style="float: right;">Compare Countries</button> 
                </div>
            </div>

            <div class="row mb-2">
                <div id="worldmap"></div>
            </div>
        </div>
    </div>
{% endblock mainBody %}
   
{% block scripts %}
    <script>
        var data2 = {{mapData|safe}};
        var minCases = {{minCases|safe}};
        var maxCases = {{maxCases|safe}}
    </script>
    <script src="{% static "js/worldmap.js" %}"></script>
{% endblock scripts %}